<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} un Client</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} un Client</h1>
        <form method="post" class="mb-5">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %}
            </button>
        </form>
        <a href="{% url 'client_list' %}" class="btn btn-secondary">Retour à la liste des clients</a>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
