<!-- register_user.html -->



<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        {% block content %}
            <h1>Register</h1>
            <br>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Register" class="btn btn-primary">
            </form>
        {% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
