<!DOCTYPE html>
<html>
<head>
    <title>Liste des Centres</title>
</head>
<body>
    <h1>Liste des Centres</h1>
    <form method="GET">
        <input type="text" name="q" placeholder="Rechercher un centre...">
        <button type="submit">Rechercher</button>
    </form>
    
    <ul>
        {% for centre in centres %}
            <li>
                <a href="{% url 'centre_detail' centre.pk %}">{{ centre.designation }}</a>
                <a href="{% url 'centre_edit' centre.pk %}">Modifier</a>
                <a href="{% url 'centre_delete' centre.pk %}">Supprimer</a>
            </li>
            <!-- Afficher d'autres détails du centre si nécessaire -->
        {% endfor %}
    </ul>
    
    <a href="{% url 'centre_new' %}">Ajouter un Centre</a>
</body>
</html>
