<!DOCTYPE html>
<html>
<head>
    <title>Liste de Gestion des Employés</title>
</head>
<body>
    <h1>Liste de Gestion des Employés</h1>
    <form method="GET">
        <input type="text" name="q" placeholder="Rechercher une gestion...">
        <button type="submit">Rechercher</button>
    </form>
    <ul>
        {% for gestion in gestions %}
            <li>
                {{ gestion.employe.nom }} -
                <a href="{% url 'gerer_employe_detail' gestion.employe.id %}">Détails</a>
                <a href="{% url 'gerer_employe_edit' gestion.id %}">Modifier</a>
                <a href="{% url 'gerer_employe_delete' gestion.id %}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'gerer_employe_new' %}">Ajouter une Gestion</a>
</body>
</html>
