<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS Local -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'media/truck.png' %}">
    <title>{% block title %}GestAgric{% endblock title %}</title>
    <style>
        .navbar {
            background: linear-gradient(to right, #f9eff0, #fff8f2);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">GestAgric</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarNav" aria-controls="navbarNav" 
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'entrepot:home' %}">Entrepot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gestionCentre:home' %}">Gestion des centres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Je me déconnecte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        <!-- Le contenu spécifique de chaque page sera ici -->
        {% endblock content %}
    </div>

    <!-- Bootstrap Bundle JS Local (inclut Popper) -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
