{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Liste des Achats</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        /* Additional CSS styles can be added here */
        /* Customize styles as needed */
        body {
            padding-top: 20px;
        }
        /* Add your custom styles or overrides here */
    </style>
</head>
<body>
    <div class="container">
        <h1>Liste des Achats</h1>
        <form class="mb-3" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Rechercher un achat par désignation du produit...">
                <!-- Field to select the supplier -->
                <select class="form-select" name="fournisseur">
                    <option value="">Choisir un fournisseur</option>
                    {% for fournisseur in fournisseurs %}
                        <option value="{{ fournisseur.id }}">{{ fournisseur.nom }}</option>
                    {% endfor %}
                </select>
                <!-- Fields for date range -->
                <input type="date" class="form-control" name="date_debut" placeholder="Date de début">
                <input type="date" class="form-control" name="date_fin" placeholder="Date de fin">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>
        
        <ul class="list-group">
            {% for achat in Achats %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ achat.produit }} - {{ achat.fournisseur }}
                    <div>
                        <a href="{% url 'achat_edit' achat.pk %}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                        <a href="{% url 'achat_delete' achat.pk %}" class="btn btn-sm btn-outline-danger">Supprimer</a>
                        <a href="{% url 'achat_detail' achat.pk %}" class="btn btn-sm btn-outline-primary">Détails</a>
                    </div>
                </li>
                <!-- Display other details of the purchase if needed -->
            {% endfor %}
        </ul>
        <h4 class="mt-3">Montant total des achats (montant payé) : {{ total_montant_achats_payer }}/{{ total_montant_achats }}</h4>

        <a href="{% url 'achat_new' %}" class="btn btn-success mt-3">Ajouter un achat</a>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Additional JavaScript for specific functionalities can be added here -->
</body>
</html>
{% endblock %}