{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'Accueil de l'Entrepôt</title>
  {% load static %}
  <!-- Link to locally downloaded Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/css.css' %}">
  <style>
    /* Add any custom styles here */
  </style>
</head>
<body>
  <div class="container mt-4">
    <h1>Dashboard de l'Entrepôt</h1>
    <ul class="list-group mt-4">
      {% if user.is_superuser %}
        <li class="list-group-item">
            <a class="text-decoration-none" href="{% url 'entrepot:fournisseur_list' %}">Gestion des Fournisseurs</a>
        </li>
      {% endif %}
      <li class="list-group-item"><a class="text-decoration-none" href="{% url 'entrepot:produit_list' %}">Gestion des produits</a></li>
      {% if user.is_superuser %}
        <li class="list-group-item">
            <a class="text-decoration-none" href="{% url 'entrepot:achat_list' %}">Gestion des achats</a>
        </li>
      {% endif %}
      <li class="list-group-item"><a class="text-decoration-none" href="{% url 'entrepot:transfert_list' %}">Gestion des transferts</a></li>
      <li class="list-group-item"><a class="text-decoration-none" href="{% url 'entrepot:vente_list' %}">Gestion des ventes</a></li>
      <li class="list-group-item"><a class="text-decoration-none" href="{% url 'entrepot:etat_stock' %}">État de stock de l'entrepôt</a></li>
    </ul>
  </div>

  <!-- Link to locally downloaded Bootstrap JS -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

{% endblock %}
